Source: phoenix
Section: golang
Priority: extra
Maintainer: Lance Cooper <lance@struktur.de>
Build-Depends: debhelper (>= 8),
               dh-golang,
               golang-go (>= 1.1),
               golang-goconf-dev,
               golang-httputils-dev (>= 0.1.2)
Standards-Version: 3.9.3

Package: golang-phoenix-dev
Pre-Depends: dpkg (>= 1.15.6~)
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-goconf-dev,
         golang-httputils-dev
Description: phoenix
 is a Golang library providing support functionality for application startup,
  configuration, logging, and profiling.
